.title{
    color:#fff;
}

.signup-container{
    background-color: #3a3a3a;
    margin: auto;
    width: 800px;
    height: 600px;
    padding: auto;
    border-radius: 25px;
    color: #3a3a3a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-control,
.form-check-input{
    background-color: #7f7f7f;
}

/* .text-box{
    width: 300px;
    height: 20px;
} */

/* .input-group{
    margin: 5px;
} */

.submit-button{
    margin-top: 10px;
}

.error{
    color:#ff0000;
}